
.items{
    width: 30%;
    margin-bottom: 50px;
    box-shadow:  7px 7px 14px #d6d6d6,
             -7px -7px 14px #ffffff;
    border-radius: 16px;
    backdrop-filter: blur(20px);
    transition: transform 500ms ease;
    position: relative;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

img{
    width: 100%;
    border-radius: 16px 16px;
}

.items:hover{
    transform: scale(1.05);
}

h2, p, b{
    margin: 10px 20px ;

}

b{
    color:rgba(82, 82, 82, 0.87);
    font-weight: 600;
}

.add-to-cart{
    right: 20px;
    bottom: 20px;
    background: rgba(253, 203, 37, 0.87);
    width: 90%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 500ms ease;
    border: none;
    justify-content: center;
    display: flex;

}

.add-to-cart:hover{
    transform: scale(1.05);
    box-shadow:  7px 7px 14px #d6d6d6,
             -7px -7px 14px #ffffff;
}


@media only screen and (max-width: 1024px) {
	main{
        margin-left: 10px; 
    }
    .items{
        margin-left: 10px;
        margin-right: 10px;
    }

}

.add{
    background-color: #efeeee;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    margin: 0px 5px 0px 5px;
    height: 1.5rem;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px 0px inset;
}

.remove{
    background-color: #efeeee;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    margin: 0px 5px 0px 5px;
    height: 1.5rem;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px 0px inset;
}

.p-1{
    padding: 1rem;
}